Repository susannakosic/poc-react-vite-federated-modules: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-app-job, build-shared-job, build-contentfully-job, build-all-job

.circleci/config.yml:

version: 2.1

# use CircleCI's dynamic configuration feature
setup: true

# continue a pipeline based on the path of an updated fileset
# https://support.circleci.com/hc/en-us/articles/10269416203163--Advanced-path-filtering-?
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          # Maps which path is updated and set the parameter for continue_config
          mapping: |
            packages/app/.* build-app-job true
            packages/shared/.* build-shared-job true
            packages/contentfully/.* build-contentfully-job true
            package.json build-all-job true      
          config-path: .circleci/continue-config.yml

poc: host federated module declaration for contentfully package
  packages/app/.env
  packages/app/.env.development
  packages/app/src/App.jsx
  packages/app/vite.config.js
  packages/contentfully/vite.config.ts
Due: build-app-job, build-contentfully-job

poc: circleci - adding build-contentfully-job
  .circleci/continue-config.yml
Due: none

poc: deploy all
  package.json
Due: build-all-job

poc: fix s3 cntentfully path
  .circleci/continue-config.yml
  README.md
  package.json
Due: build-all-job

poc: fix shared package
  package.json
  packages/shared/src/components/Button.jsx
Due: build-shared-job, build-all-job

poc: README
  README.md
Due: none

poc: adding contentful package
  packages/app/index.html
  packages/app/package.json
  packages/app/src/App.css
  packages/app/src/App.jsx
  packages/app/src/assets/react.svg
  packages/app/src/index.css
  packages/app/src/main.jsx
  packages/app/src/main.tsx
  packages/app/src/pages/Contentfully.tsx
  packages/app/src/pages/Home.tsx
  packages/app/src/pages/NotFound.tsx
  packages/app/src/pages/Other.tsx
  packages/app/src/router.tsx
  packages/app/src/vite-env.d.ts
  packages/app/tsconfig.json
  packages/app/tsconfig.node.json
  packages/app/vite.config.ts
  packages/contentfully/src/App.css
  packages/contentfully/src/index.css
  packages/contentfully/src/main.tsx
  yarn.lock
Due: build-app-job, build-contentfully-job
